@import '~bootstrap/scss/bootstrap';

.text-success-subtle{
    color: #d1e7dd;
}

header{
    height: 72px;
}

.main-wrapper{
    height: calc(100vh - 72px);
    background-color: #04635c;
}

aside{
    width: 190px;
    flex-shrink: 0;
    ul{
        list-style: none;
        padding-left: 15px;
        li{
            line-height: 30px;
            a{
                text-decoration: none;
                color: white;
                span:hover{
                    text-decoration: underline;
                }
            }
        }
    }
}

/* .crud-table{
    td:last-child{
        flex-shrink: 0;
        background-color: red;
    }
} */
